# Terraform State and Backup Files
*.tfstate
*.tfstate.backup
# Terraform Crash Log Files
crash.log
# Terraform Plan Files
*.tfplan
# Terraform Lock Files
.terraform.lock.hcl
# Terraform Provider Cache Directory
.terraform/
# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Ignore sensitive variable files
*.auto.tfvars
*.auto.tfvars.json
# Ignore CLI configuration files
.terraformrc
terraform.rc
